.experienciaTexto{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 50px 250px;
  }
  
  .auris{
      background-color:#ffffff;
      display: flex;
      flex-direction:row;
      justify-content: space-around;
      align-items: center;
      .textoAuris{
          width: 500px;
          text-align: center;
      }
      .imagenAuris{
          img{
          width: 500px;
          height: 500px;
      }
      }
  }
  
  .contenedorTarjetas{
      display: flex;
      flex-direction:row;
      justify-content: space-around;
      color: #ffffff;
      .tarjeta{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 30px;
          width: 350px;
          height: 400px;
          transition: all 0.2s ease-in-out;
          box-shadow: 0px 10px 13px -6px rgba(253, 253, 253, 0.226), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
          &:hover{
              box-shadow: 0px 10px 13px -6px rgba(253, 253, 253, 0.486), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
          }
          p{
              text-align: center;
              margin: 20px;
          }
      }
  
  }
  
  /*Comprar*/
  .comprar{
      background-color: #ffffff;
  }
  .container {
      margin: 0 auto;
      padding: 50px 0 0;
      max-width: 960px;
      width: 100%;
    }
    
    .panel {
      background-color: #fff;
      border-radius: 10px;
      padding: 15px 50px;
      position: relative;
      width: 100%;
      z-index: 10;
    }
    
    @media (min-width: 900px) {
      .pricing-table {
        flex-direction: row;
      }
    }
    
    .pricing-table * {
      text-align: center;
      text-transform: uppercase;
    }
    
    .pricing-plan {
      border-bottom: 1px solid #e1f1ff;
      padding: 25px;
    }
    
    .pricing-plan:last-child {
      border-bottom: none;
    }
    
    @media (min-width: 900px) {
      .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        flex-basis: 100%;
        padding: 25px 50px;
      }
    
      .pricing-plan:last-child {
        border-right: none;
      }
    }
    
    .pricing-img {
      margin-bottom: 25px;
      max-width: 100%;
    }
    
    .pricing-header {
      color: #888;
      font-weight: 600;
      letter-spacing: 1px;
    }
    
    .pricing-price {
      color: #016FF9;
      display: block;
      font-size: 32px;
      font-weight: 700;
    }
    
    .pricing-button {
      border: 1px solid #9dd1ff;
      border-radius: 10px;
      color: #348EFE;
      display: inline-block;
      margin: 25px 0;
      padding: 15px 35px;
      text-decoration: none;
      transition: all 150ms ease-in-out;
    }
    
    .pricing-button:hover,
    .pricing-button:focus {
      background-color: #e1f1ff;
    }
    
    .pricing-button.is-featured {
      background-color: #48aaff;
      color: #fff;
    }
    
    .pricing-button.is-featured:hover,
    .pricing-button.is-featured:active {
      background-color: #269aff;
    }
  
    .textoFinal{
      .finalContenedor{
          display: flex;
          justify-content: space-around;
          margin: 30px;
          color: white;
          div{
              width: 350px;
          }
      }
    }